<a href="https://colab.research.google.com/github/naresh1910/myrepository/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#create a empty series
import pandas as pd
import numpy as np
data = pd.Series()
data

<ipython-input-1-86d5b22500d7>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data = pd.Series()

Series([], dtype: float64)

In [2]:
#creating a serise from ndarray
import numpy as np
import pandas as pd
data = np.array([1,2,3,4,5])
df = pd.Series(data)
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# creating an series with np.array and assign custom index
import pandas as pd
import numpy as np
df = np.array([1,2,3,4,5])
data = pd.Series(df, index = [101,102,103,104,105])
data

101    1
102    2
103    3
104    4
105    5
dtype: int64

In [4]:
# create a series from dictionary 
import pandas as pd
import numpy as np
df = {'a':0,'b':1,'c':2,'d':3,'e':4}
data = pd.Series(df)
data

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [8]:
#import with custom index number and with dictionary
import pandas as pd
import numpy as np
df = {1:'a',2:'b',3:'c'}
data = pd.Series(df,index =[3,2,1])
data

3    c
2    b
1    a
dtype: object

In [9]:
#create a data series from scalar 
import pandas as pd
import numpy as np
df = pd.Series(5,index = [1,2,3,4,5])
df

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [16]:
#Accessing Data from Series with position
import numpy as np
import pandas as pd
df = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
df[:1]

a    1
dtype: int64

In [18]:
# Retrieve data using label
import numpy as np
import pandas as pd
df = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
df['a']

1

In [19]:
# Retrieve data using label
import numpy as np
import pandas as pd
df = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
df[['a','b','c']]

a    1
b    2
c    3
dtype: int64

In [20]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print s['f']

SyntaxError: ignored